---
#
# defaults file for install_microk8s
#

# password for elevate privileges
ansible_become_password: "{{ ansible_ssh_pass }}"

# users to make members of microk8s group
users: '{{ ansible_user }}'

# enable high-availability?
microk8s_enable_HA: true

# hostgroup whose members will form high-availability cluster
microk8s_group_HA: "cluster"

# regex to select IP address for joining nodes in HA setup
microk8s_ip_regex_HA: "([0-9]{1,3}[\\.]){3}[0-9]{1,3}"

# hostgroup whose members will act as worker nodes only (no control-plane components run here)
microk8s_group_WORKERS: []

# option to add workers hostgroup memembers to hostfile
add_workers_to_hostfile: false

# option to export config client kubectl (./kube/config) from master-nodes to my ansible localhost
export_config_kubectl: true

# location for directory for ansible-kubectl Example: "/home/admin/.kube" or [] for ignore
export_config_kubectl_dest: "/home/ansible/.kube/"

# option for rename with config kubectl. Example: "/home/admin/.kube/config_server1"
kubectl_config_file_dest: "{{ export_config_kubectl_dest }}config_{{ inventory_hostname }}"

# plugin configuration
microk8s_dns_resolvers: 172.30.102.11,172.30.102.12
registry_size: 20Gi
ip_addres_pool: 172.30.126.200-172.30.126.206
microk8s_plugins:
  dns: "{{ microk8s_dns_resolvers }}"     # CoreDNS
  host-access: false                      # Allow Pods connecting to Host services smoothly
  ingress: true                           # Ingress controller for external access
  metrics-server: true                    # K8s Metrics Server for API access to service metrics
  rbac: true                              # Role-Based Access Control for authorisation
  storage: true                           # Storage class; allocates storage from host directory
  registry: "size={{ registry_size }}"    # Private image registry exposed on localhost:32000
  dashboard: true                         # The Kubernetes dashboard
  ambassador: false                       # Ambassador API Gateway and Ingress
  cilium: false                           # SDN, fast with full network policy
  fluentd: false                          # Elasticsearch-Fluentd-Kibana logging and monitoring
  gpu: false                              # Automatic enablement of Nvidia CUDA
  helm: false                             # Helm 2 - the package manager for Kubernetes
  helm3: true                             # Helm 3 - Kubernetes package manager
  istio: false                            # Core Istio service mesh services
  jaeger: false                           # Kubernetes Jaeger operator with its simple config
  knative: false                          # The Knative framework on Kubernetes.
  kubeflow: false                         # Kubeflow for easy ML deployments
  linkerd: false                          # Linkerd is a service mesh for Kubernetes and other frameworks
  metallb: false #"{{ ip_addres_pool }}"  # Loadbalancer for your Kubernetes cluster. Multiple comma-separated ranges as well as CIDR notation metallb:10.64.140.43-10.64.140.49,10.64.141.53-10.64.141.59,10.12.13.0/24`) are supported from 1.19.
  multus: false                           # Multus CNI enables attaching multiple network interfaces to pods
  prometheus: false                       # Prometheus operator for monitoring and logging
  traefik: false                          # another ingress
  portainer: false                        # Container management dashboard
  keda: false                             # Kubernetes Event-driven Autoscaling operator.
  kata: false                             # A secure container runtime with lightweight virtual machines
  openebs: false                          # openebs storage
  openfaas: false                         # serverless

helm3_repositories:
  - name: stable
    url: https://charts.helm.sh/stable
